{% load static %}
{% load beautido_app_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'beautido_app/css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'beautido_app/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



    <table class="table-page" border=0 cellpadding="0" cellspacing="0">
        <tr><td valign=top>
            {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

                        {% for m in menu %}
                            {% comment %}{% if not forloop.last %}{% endcomment %}
                                <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                            {% comment %}{% else %}
                                <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
                            {% endif %}{% endcomment %}
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                            <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a> </li>
                        {% else %}
                            <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
                        {% endif %}

                    </ul>
                    <div class="clear"></div>
                </div>
            {% endblock mainmenu %}

            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
            <tr>
                <!-- Sidebar слева -->
                <td valign="top" class="left-chapters">
                    <ul id="leftchapters">
                        {% if cat_selected == 0 %}
                            <li class="selected">all categories</li>
                        {% else %}
                            <li><a href="{% url 'home' %}">all categories</a></li>
                        {% endif %}
                        {% comment %}{% get_categories as categories %}
                        {% for category in categories %}
                            {% if cat_selected == category.pk %}
                                <li class="selected">{{ category.title }}</li>
                            {% else %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                            {% endif %}
                        {% endfor %}{% endcomment %}
                        {% show_categories sort='-title' cat_selected=cat_selected %}
                        {% comment %}<li class="share">
                        <p>Наш канал</p>
                        <a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>
                        </li>{% endcomment %}
                    </ul>
                </td>
                <!-- Конец Sidebar'а -->

                <td valign="top" class="content">
                    <!-- Хлебные крошки -->
                    {% block breadcrumbs %}
                    {% endblock %}

                    <!-- Блок контента -->
                    <div class="content-text">
                        {% block content %}
                        {% endblock content %}
                        {% if page_obj.has_other_pages %}
                            <nav class="list-pages">
                                <ul>

                                    {% if page_obj.has_previous %}
                                        <li class="page-num">
                                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                        </li>
                                    {% endif %}

                                    {% for p in paginator.page_range %}
                                        {% if page_obj.number == p %}
                                            <li class="page-num-selected">
                                                {{ p }}
                                            </li>
                                        {% elif p >= page_obj.number|add:-2 and  p <= page_obj.number|add:2%}
                                            <li class="page-num">
                                                <a href="?page={{ p }}">{{ p }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-num">
                                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                    <!-- Конец блока контента -->

                </td>
            </tr>

        <tr/><td/>
    </table>

    <!-- Footer -->
    <tr><td valign=top>
        <div id="footer">
            <p>Mechael Dodo</p>
        </div>
    </td></tr>
    </table>

    <!-- Конец footer'а и страницы -->

</body>
</html>