{% extends 'beautido_app/base.html' %}

{% block content %}
    <h2>{{ title }}</h2>
    {% if girl.photo %}
        <img class="img-article-left" src="{{ girl.photo.url }}">
    {% endif %}
    {{ girl.content|linebreaks }}
    {% block score %}
        {% if request.user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <select name="score_select">
                    {% for option in options %}
                        <option value="{{ option }}" name="option">{{ option }}</option>
                    {% endfor %}
                </select>
                {% comment %}{% for f in form %}
                    {{ f }}
                {% endfor %}{% endcomment %}
                <button value="Select" type="submit" >Оценить</button>
            </form>
        {% endif %}
        <h3>Средняя оценка: {{ score }}</h3>
    {% endblock score %}
{% endblock %}